.same_buttons{
    background:rgb(116, 130, 155);
    border: none;
    margin-bottom: 10px;
    width: 400px;
    height: 36px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .3s;
}